extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleabout.css

block content
    div#container
     
      p#span  Dance Academy is the oldest and the most renowned dance institute in udaipur. We believe that dancing is not only a form of exercise but also a skill that builds up confidence and teaches people how to have fun!Buskers aims to break the stereotypes of dance in Jaipur and make dance an integral part of one’s life. Dance is our passion and we try our best to inculcate the same passion in our students. We believe in the talents of this city and want to showcase the same to the world.
        
    section#aboutfooter 
        //h1 Address 
          //span :-Dance Academy , Sector-9, near of Ctae, city-Udaipur, Rajasthan.
               
        