h1{
    text-align: center;
    margin: 2px;
}

.myForm{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    margin: auto;
    height: 500px;
    padding: 13px 23px;
}
input,textarea{
    margin: 13px 7px;
    padding: 7px 9px;
    border: 2px solid black;
    border-radius: 5px;
}
.btn{
    margin: 1px 156px;
   
    background-color: #ff4747;
    border-radius: 10px;
    padding: 3px 0px;
    color: white;
}
#container{
    min-height: 86vh;
    display: flex;
    justify-content: center;
}
.h{
    margin-top: 10px;
}